@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --DarkGrey: hsl(220, 2%, 27%);
    --gapValue: 1.5em;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--VeryDarkBlue);
    min-height: 100vh;
}
main {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-card, .thankyou-card {
    border-radius: 5%;
    background-color: var(--DarkBlue);
    color: var(--LightGrey);
    padding: 1em;
    width: 80%;
    max-width: 500px;
    display: flex; 
    gap: var(--gapValue); 
    flex-direction: column;
    overflow-y: visible;
    z-index: 20;
}

h1, h2 {
    color: var(--White);
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--gapValue); 
}

form div:first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2em;
}
input[type="radio"] {
    position: absolute;
    left: -999px;
}
label {
    display: inline-block;
    border-radius: 50%;
    color: var(--LightGrey);
    background-color: var(--DarkGrey);
    border: none;
    padding: 1em;
}

label:hover {
    color: var(--White);
    background-color: var(--Orange); 
    cursor: pointer;
}
input:checked + label {
    color: var(--White);
    background-color: var(--LightGrey); 
    cursor: default; 
}
.none {
    display: none;
}
.btn-submit {
    display: block;
    background-color: var(--Orange);
    color: var(--White);
    text-transform: uppercase;
    padding: 1em 0;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 0;
}
.btn-submit:hover {
    color: var(--Orange);
    background-color: var(--White);
    cursor: pointer;
}
.star-icon {
    background-color: var(--DarkGrey);
    border-radius: 50%;
    padding: .5em; 
}
.error {
    text-align: center;
    color: red;
}
.error-To {
    color: var(--LightGrey);
    text-align: center;
}
.thankyou-card {    
    text-align: center;
}

.thankyou-card img {
    width: 75%;
    margin: auto;
}
.thankyou-card h2 {
    font-weight: 400;
    color: var(--Orange);
    background-color: var(--DarkGrey);
    border-radius: 30px;
    font-size: .9em;
    text-align: center;
    width: 60%;
    min-width: 130px;
    margin: auto;
}
footer { 
    font-size: 11px; 
    color: white;
    text-align: center;
    min-height: 5vh;
}
.attribution a { 
    color: var(--Orange); 
}


